@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background: radial-gradient(circle at 10% 20%, rgb(149, 219, 254) 0%, rgb(7, 134, 197) 90.1%);
}

.container{
  height:100vh;
  display: grid;
  place-items: center;
}

.box{
  width: 708px;
  height: 600px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box h1{
  margin: 0px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

input[type="text"], 
[type="number"], 
[type="email"], [type="date"]{

  width: 570px;
  height: 35px;
  padding: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border-radius: 4px;
  border-style: solid;
  margin: 30px auto;
  display: flex;
}

.button-add {
  display: flex;
  gap: 45px;
}

.button-add button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.button-add button:hover{
  background-color: #171723;
  color: #fff;
  cursor: pointer;
}