
.sale{
    margin-top: 10%;
    padding: 0%;
}

.box-sale{
    background: linear-gradient(90deg,rgb(244, 198, 137) 0%, #f1f4d2 80%);
    height: 40vh;
    display: grid;
    place-content: center;
    text-align: center;
    align-items: center;
}

.box-sale h1{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.box-sale p{
    font-size: 18px;
    margin-bottom: 10px; 
}

.box-sale button{
    width: 13%;
    margin: 0 auto;
    padding: 6px;
    border-radius: 20px;
    cursor:pointer;
    margin-top: 5px;
    font-size: 15px;
    background-color: black;
    color: white;
}

.box-sale button:hover{
    width: 15%;
    margin: 0 auto;
    padding: 6px;
    border-radius: 20px;
    cursor:pointer;
    margin-top: 5px;
    background-color: rgb(97, 55, 13);
    color: white;
}


@media (max-width:450px){

    .btn-prod button{
        padding: 5px 50px !important;
    }

    .sale{
        margin-top: 20%;
    }

    .box-sale{
        height: 5   0vh;
    }

    .box-sale h1{
        font-size: 4rem;
        padding: 0px 20px;
    }

    .box-sale p{
        padding: 0px 20px;
    }

    .box-sale button{
        width: 80px;
        color: white;
        background-color: black;
    }

    .box-sale button:hover{
        width: 80px;
    }

}
    /*css additions for product page changes*/


/*header*/

.bg-img{
    height: 100vh;
    width: 98.98vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
   
}

.header-content{
    text-align: right;
    padding: 20% 5%;
    color: aliceblue;
}

h1.header-text{
    font-size: 90px; 
    font-style: italic; 
    font-weight: bold; 
    border: solid 5px black; 
    padding: 10px 20px;
}

/*deal of the day section*/
.dash{
    background-color: #eec98b;
    width: 100%;
    height: 5px;
    margin-bottom: 50px;

}
div.scroll-card{
    padding-top: 3%;
}
div.card{
    border:solid rgb(255, 255, 255);
    font-size: 15px;
    width: 29rem;
    margin-top: 5%;
}

.featured-img{
    border-top: solid black;
    border-bottom: solid black;
}

p.card-title{
    font-size: 17px;
    margin-top: 5px;
    font-style: italic;
    font-weight: 400;

}

h5.card-title{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;

}

p.card-text{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3.price{
    font-size: 25px;
    margin-left: 50px;
}

a.btn-standard{
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    font-size: 14px;
}

a.btn-standard:hover{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


/*trend section*/

div.trend{
    padding-top: 10%;
}

div.trend-content{
    margin: 2%;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.img-trend-1{
    height: 70vh;
    width: 86vw;
    object-fit: cover;
    position:absolute;
    border: solid black;
}

.img-trend{
    border: solid black;
    height: 60vh;
    width: 41.7vw;
    object-fit: cover;
    margin: 0%;
    position: absolute;
}

.cont-mod{
    margin: 18%;
}

.row-2-context{
    position: relative;
    padding: 30px;
    text-align: left;
    color: rgb(0, 0, 0);    
}

.row-3-context{
    position: relative;
    margin-top: 200px;
    margin-right: 20px;
    padding: 30px;
    text-align: right;
    color: rgb(0, 0, 0);    
}

button.btn-standard{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    font-weight: bold;
    font-size: 15px;
}

button.btn-standard:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 15px;
}

/*products section*/ 

.products-cat{
    padding-top: 20%;
}

div.card-cat{
    width: 200rem;
    background-color: black;
    border-color: black;
}

.category-product-img{
    height: 80vh;
    width: 88vw;
    object-fit: cover;
    margin: 25px;
}

h2.card-title{
    font-size: 75px;
    font-weight: 800;
    color: #eec98b;
}

div.btn-men-women{
    margin-bottom: 25px;
}

a.btn-men-women-b{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    border-color: black;
    border-radius: 5px;  
    padding: 15px 45px;
    font-size: 20px;
    margin: 25px;
    font-weight: 500;
}


a.btn-men-women-b:hover{
    background-color: rgb(20, 19, 19);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;  
    padding: 15px 45px;
    font-size: 20px;
    margin: 25px;
    font-weight: 500;
}

/*nav bottom*/

div.nav-bottom{
    text-align: center;
    padding: 20px;
}

a.btn-nav-bottom{
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
}

a.btn-nav-bottom:hover{
    width: 12%;
    background-color: rgb(188, 124, 34);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
}
