body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
 
form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
}

h2 {
  text-align: center;
}

div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
