    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

    :root{
        --main-color:#d3ad7f;
        --black:#13131a;
        --bg:#010103;
        --text:#fff;
        --border:.1rem solid rgba(255,255,255,.3);
        --about-bg:#F5F5DC;
    }

    *{
        margin:0; padding:0;
        box-sizing: border-box;
        outline: none; 
        border:none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .2s linear;
        user-select: none;
    }

    /*Navbar*/

    body{
        background: var(--black);
        font-family: 'Roboto', sans-serif;
    }

    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

    section{
        padding: 2rem 7%;
    }

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

    .btn{
        margin-top: 1rem;
        display: inline-block;
        padding:.9rem 3rem;
        font-size: 1.7rem;
        color:#fff;
        background: var(--main-color);
        cursor: pointer;
    }

    .btn:hover{
        letter-spacing: .2rem;
    }

.header{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

    .header .logo img{
        height: 6rem;
    }

    .header .navbar a{
        margin:0 1rem;
        padding: 5px 10px;
        font-size: 1.6rem;
        color:#fff;
    }

    .header .navbar a:hover{
        color:var(--text);
    background: #d3ad7f;
    transition: all ease-in .1s;
    border-radius: 50px;
    }

    .header .icons div{
        color:#fff;
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: 2rem;
    }

    .header .icons .menu{
        display: none;
    }

    .header .icons div:hover{
        color:var(--main-color);
    }

    #product-btn{
        display: none;
    }

    #recommended-btn{
        display: none;
    }

    #menu-btn{
        display: none;
    }

    .header .search-form{
        position: absolute;
        top:115%; right: 7%;
        background: #fff;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
    }

    .header .search-form.active{
        transform: scaleY(1);
    }

    .header .search-form input{
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        color:var(--black);
        padding:1rem;
        text-transform: none;
    }

    .header .search-form label{
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color:var(--black);
    }

    .header .search-form label:hover{
        color:var(--main-color);
    }

    .header-scrolled{
        background: var(--black);
    }

    .header .cart-items-container{
        position: absolute;
        top:100%; right: -100%;
        height: calc(100vh - 9.5rem);
        width: 35rem;
        background: #fff;
        padding:0 1.5rem;
    }

    .header .cart-items-container.active{
        right: 0;
    }

    .header .cart-items-container .cart-item{
        position: relative;
        margin:2rem 0;
        display: flex;
        align-items: center;
        gap:1.5rem;
    }

    .header .cart-items-container .cart-item .fa-times{
        position: absolute;
        top:1rem; right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        color: var(--black);
    }

    .header .cart-items-container .cart-item .fa-times:hover{
        color:var(--main-color);
    }

    .header .cart-items-container .cart-item img{
        height: 7rem;
    }

    .header .cart-items-container .cart-item .content h3{
        font-size: 2rem;
        color:var(--black);
        padding-bottom: .5rem;
    }

    .header .cart-items-container .cart-item .content .price{
        font-size: 1.5rem;
        color:var(--main-color);
    }

    .header .cart-items-container .btn{
        width: 100%;
        text-align: center;
    }

    .text-about a{
        color: var(--black);
    }

    .home{
        min-height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bgs.png) ;
        background-size: cover;
        background-position: center;
    }

    .home .content{
        min-height: 90vh;
        display: grid;
        place-content: center;
        justify-content: center;
        text-align: center;
    }

    .home .content img{
        width: 30%;
        display: flex;
        margin: auto;
    }

    .home .content h3{
        font-size: 6rem;
        text-transform: uppercase;
        color: var(--text);
    }

    .home .content p{
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.8;
        padding:1rem 0;
        color: var(--text);
    }

    .home .content a{
        font-size: 1.7rem;
        color:#fff;
        background: var(--main-color);
        width: 25%;
        padding: 10px;
        margin: auto;
    }

    .members{
        background-color:lightblue;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .members .card img{
        width: 50%;
        border-radius: 50%;
    }

    .shipping-policy .row{
        display: flex;
        align-items: center;
        background:var(--text);
        flex-wrap: wrap;
    }

    .shipping-policy .row .content{
        flex:1 1 45rem;
        padding:2rem;
    }

    .shipping-policy .row .content p, li{
        font-size: 1.6rem;
        color:#311f13;
        padding:1rem 0;
    }

    .refund-policy{
        margin-top: 5% ;
    }

    .refund-policy .row{
        display: flex;
        align-items: center;
        background:var(--text);
        flex-wrap: wrap;
    }

    .refund-policy .row .content{
        flex:1 1 45rem;
        padding:2rem;
    }

    .refund-policy .row .content p, li, ul{
        font-size: 1.6rem;
        color:#311f13;
        padding:1rem 0;
    }

    .product{
        margin-top: 5% ;
    }

    .product .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:1.5rem;
    }

    .product .box-container .box{
        padding:5rem;
        text-align: center;
        border:var(--border);    
    }

    .product .box-container .box img{
        height: 10rem;
    }

    .product .box-container .box h3{
        color: #fff;
        font-size: 2rem;
        padding:1rem 0;
    }

    .product .box-container .box:hover{
        background:#f4decb;
    }

    .product .box-container .box:hover > *{
        color:var(--black);
    }
    .product-category {
        margin-top: 5%;
    }
    
    .product-category .box-container .box .icons a:hover{
        background:var(--main-color);
    }
    
    .product-category .box-container .box .image{
        padding: 2.5rem 0;
    }
    
    .product-category .box-container .box .image img{
        height: 25rem;
    }
    
    .product-category .box-container .box .content h3{
        color:#fff;
        font-size: 2.5rem;
    }
    
    .product-category .box-container .box .content .stars{
        padding: 1.5rem;
    }
    
    .product-category .box-container .box .content .stars i{
        font-size: 1.7rem;
        color: var(--main-color);
    }
    
    .product-category .box-container .box .content .price{
        color:#fff;
        font-size: 2.5rem;
    }
    
    .product-category .box-container .box .content .price span{
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
    }
    
    .product-category .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:1.5rem;
    }
    
    .product-category .box-container .box{
        text-align: center;
        border:var(--border);
        padding: 2rem;
    }
    
    .product-category .box-container .box .icons a{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        border:var(--border);
        color:#fff;
        margin:.3rem;
    }    

    .BestSeller .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:1.5rem;
    }

    .BestSeller .box-container .box{
        text-align: center;
        border:var(--border);
        padding: 2rem;
    }

    .BestSeller .box-container .box .icons a{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        border:var(--border);
        color:#fff;
        margin:.3rem;
    }

    .BestSeller .box-container .box .icons a:hover{
        background:var(--main-color);
    }

    .BestSeller .box-container .box .image{
        padding: 2.5rem 0;
    }

    .BestSeller .box-container .box .image img{
        height: 25rem;
    }

    .BestSeller .box-container .box .content h3{
        color:#fff;
        font-size: 2.5rem;
    }

    .BestSeller .box-container .box .content .stars{
        padding: 1.5rem;
    }

    .BestSeller .box-container .box .content .stars i{
        font-size: 1.7rem;
        color: var(--main-color);
    }

    .BestSeller .box-container .box .content .price{
        color:#fff;
        font-size: 2.5rem;
    }

    .BestSeller .box-container .box .content .price span{
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .review .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:1.5rem;
    }

    .review .box-container .box{
        border:var(--border);
        text-align: center;
        padding:3rem 2rem;
    }

    .review .box-container .box p{
        font-size: 1.5rem;
        line-height: 1.8;
        color:#ccc;
        padding:2rem 0;
    }

    .review .box-container .box .user{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .review .box-container .box h3{
        padding:1rem 0;
        font-size: 2rem;
        color:#fff;
    }

    .review .box-container .box .stars i{
        font-size: 1.5rem;
        color:var(--main-color);
    }

    .contact{
        margin-top: 5% ;
    }

    .contact .row{
        display: flex;
        background:var(--black);
        flex-wrap: wrap;
        gap:1rem;
    }

    .contact .row .map{
        flex:1 1 45rem;
        width: 100%;
        object-fit: cover;
    }

    .contact .row form{
        flex:1 1 45rem;
        padding:5rem 2rem;
        text-align: center;
    }

    .contact .row form h3{
        text-transform: uppercase;
        font-size: 3.5rem;
        color:#fff;
    }

    .contact .row form .inputBox{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background:var(--bg);
        border:var(--border);
    }

    .contact .row form .inputBox span{
        color:#fff;
        font-size: 2rem;
        padding-left: 2rem;
    }

    .contact .row form .inputBox input{
        width: 100%;
        padding:2rem;
        font-size: 1.7rem;
        color:#fff;
        text-transform: none;
        background:none;
    }

    #about{
        background: #bbbbbb;
        
    }

    .about{
        margin-top: 5%;
        
    }

    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.584);
        background:var(--main-color);
    }

    .about-img img{
        width: 40%;
    }

    .about-text{
        margin: 0px 30px;
        text-align: center;
    }

    .about-text h1{
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

  .about-text p{
        margin-bottom: 30px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .about-mission{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/img2bg.png) ;
        background-size: cover;
        background-position: center;
        height: 80vh;
        display: grid;
        place-content: center start;
    }


    .about-mission h1{
        color: var(--text);

    }
    
    #shipping{
        background: var(--text);
    }

    .shipping-policy h1{
        text-align: center;
        font-size: 4rem;
        margin:0px 0px 15px 0px;
        
    }

    .shipping-policy .content{
        box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.584);
    }

    footer{
        font-family: 'Roboto', sans-serif;
        background: var(--black);
    }

    .footer{
        text-align: center;
    }

    .footer .share a{
        color: var(--text);
        border: 1px solid var(--text);
        margin: 0px 7px;
        padding: 17px 10px;
        border-radius: 50%;
    }

    .footer .share a:hover{
        background-color: var(--main-color);
    }

    .footer .credit{
        font-size: 1.05rem;
        color:#fff;
        font-weight: lighter;
        font-size: 1.1rem;
        padding:2rem 2rem .8rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    .footer .credit .help a{
        color: var(--text);
    }

    .wrap{
        width: 20%;
    }

    .wrap p{
        word-wrap: break-word;
        text-align: center;
        border: var(--text ) 1px solid;
        text-align: center;
        padding: 2px;
    }

    .help{
        margin-left: -130px;
    }

    .help a {
        border-right: 1px solid #c4c4c4;
        display: inline-block;
        padding: 0 10px;
    }

    .help a:last-child {
        border-right:0;
    } 

    .sub-footer{
        text-align: center;
        color: var(--text);
        padding: 20px;
    }

    .sub-footer p{
        font-size: 1.2rem;
    }

#banner {
    height: 30px; 
    background-image:url('product header sample.png');  
    margin-top: 0px; 
    margin-bottom: 0px;  
    width: 996px; 
    padding: 0px;
}

    /* media queries  */
    @media (max-width:991px){

        html{
            font-size: 55%;
        }

        .header{
            padding:1.5rem 2rem;
        }

        section{
            padding:2rem;
        }

    }

    @media (max-width:768px){

        #menu-btn{
            display: inline-block;
        }

        .header .navbar{
            position: absolute;
            top:100%; right: -100%;
            background: #fff;
            width: 30rem;
            height: calc(100vh - 9.5rem);
        }

        .header .navbar.active{
            right:0;
        }

        .header .navbar a{
            color:var(--black);
            display: block;
            margin:1.5rem;
            padding:.5rem;
            font-size: 2rem;
        }

        .header .search-form{
            width: 90%;
            right: 2rem;
        }

        .home{
            min-height: 70vh;
        }

        .home .content{
            min-height: 70vh;
            display: grid;
            place-content: center;
            justify-content: center;
            text-align: center;
        }

    .home .content a{
            width: 50%;
        }

        .credit{
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .credit .wrap {
            width: 80%;
            margin-bottom: 20px;
        }

        .help a{
            margin-bottom: 20px;
            font-size: 8px;
        }

    }

    @media (max-width:450px){

        .home{
            min-height: 70vh;
        }

        .home .content{
            min-height: 70vh;
            display: grid;
            place-content: center;
            justify-content: center;
            text-align: center;
        }

    .home .content a{
            width: 50%;
        }

        .credit{
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .credit .wrap {
            width: 80%;
            margin-bottom: 20px;
        }

        .help{
            margin-left: 0px;
        }

        .help a{
            margin-bottom: 20px;
            font-size: 8px;
        }
    }