<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/product_details.css">
    <link rel="stylesheet" href="lib/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="images/icon.png">
    <title>On your feet | Product name goes here</title>

<style>
     .details-page-body {
        margin: 0;
        padding: 0;
    }
    
    .details-page-container {
        max-width: 1300px;
        margin: 50px 100px auto;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;
        border: solid 5px white;

    }
    
    .details-page-product {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.0);
    }
    
    .details-page-product img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-right: 20px;
    }
    
    .details-page-product-details {
        flex: 1;
    }
    

</style>


</head>

<!-- BODY START -->
<body id="product_details" class="pdetails">

    <header class="header header-scrolled">

        <div class="wrappings start">
        <a href="index.html" class="logo">
            <img src="images/mini-logo.png" alt="Logo">
        </a>  
        </div>
    
        <div class="wrappings center">
            <nav class="navbar">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="product.html">Product</a>
                <a href="contact.html">Contact</a>
            </nav>
        </div>
    
        <div class="wrappings end">
            <div class="icons">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
                <div class="fa-solid fa-heart" id="fav-btn"></div>
                <div class="fa-solid fa-user" id="profile-btn"> </div>
            </div>
        </div>
    
        <div class="profile-items-container">
        <div class="profile-item">
            <div class="profile-sidebar">
    
                    <div class="name-sidebar">
    
                        <div class="img-profile">
                            <img src="images/blank-profile-picture.webp" alt="profile">
                        </div>
    
                        <div class="name-prof">
                            <h1>Full name goes here</h1>
                            <h2>username_goes_here</h2>
                        </div>
    
                    </div>
    
                    <div class="nav-btn-sidebar">                    
                        <a href="profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
    
    
            </div>
        </div>
        </div>
    
        </div>
    
            <i class="fas fa-bars" id="menu-btn"></i>
        
        <div class="cart-items-container">
        <div class="cart-item">
            <div class="content">
                <h3> Shopping Cart </h3>
            </div>
        </div>
    
        <div class="cart-item">
            <a href=""><span class="fas fa-times"></span> </a>
            <img src="images/products/athletic_shoes/men/692bc396a50b3bf8c1b7ee1c41d0e5e4b4.rsquare.w600.webp" alt="">
            <div class="content">
            <h3 style="width: 85%;  "><a href="">Nike Metcon 8</a></h3>
            <div class="price">Php 7898.83 <br> x1 = Php 7898.83 <br> <button style="font-size:18px; padding:5px; margin: 4px 10px 0px; background:#d3ad7f; border-radius:4%; color: white; cursor: pointer;" onclick="decrementNumber1()">-</button> <p id="quantity-1" style="display:inline"> 1 </p> <button style="font-size:18px; padding:5px; margin-left:10px; background:#d3ad7f; border-radius:4%; color: white; cursor: pointer;"  onclick="incrementNumber1()">+</button><button style="font-size:18px; padding:5px; margin-left:10px; background:#d3ad7f; border-radius:4%; color: white; cursor: pointer;" onclick="changeQuantity1()">Apply</button></div>
            </div>
        </div>
        <script>
            var quantity1 = 1;
            function incrementNumber1() {
                quantity1++;
                document.getElementById("quantity-1").innerHTML = "" + quantity1;
            }
    
            function decrementNumber1() {
                quantity1--;
                if (quantity1 < 1) {
                    quantity1 = 1;
                }
                document.getElementById("quantity-1").innerHTML = "" + quantity1;
                }
            function changeQuantity1() {
                window.location.href = "#";
            }
            </script>
            <a href="#" class="btn">checkout now <br> Php 7898.83</a>
        </div>
    
        <div class="fav-items-container">
        <div class="fav-item">
            <div class="content">
                <h3> Favorites </h3>
            </div>
        </div>
        <div class="fav-item">
            <a href="#"><span class="fas fa-times"></span> </a>
            <img src="images/products/athletic_shoes/men/692bc396a50b3bf8c1b7ee1c41d0e5e4b4.rsquare.w600.webp" alt="">
            <div class="content">
            <h3><a href="#">Nike Metcon 8</a></h3>
            </div>
        </div>
        </div>
    
    </header>
    <!-- HEADER -->


    
    <div class="details-page-container">
    <!-- 1 -->

		<div class="details-page-product">
        <!-- 2 -->

        <div class="col-lg-6 col-md-6 col-sm-12 imgbox">
                    <img src="images/products/athletic_shoes/men/692bc396a50b3bf8c1b7ee1c41d0e5e4b4.rsquare.w600.webp" 
                    class="img-fluid" alt="Product Image"> 
                </div>
			
            <div class="details-page-product-details">
            <!-- 3 -->

                    <div class="rbox">
                    <h1 class="productName">Nike Metcon 8</h1> 
    
                        <h2 class="productName"> Php 7898.83 </h2>
                            <h3 class="details-right">
                            <br>You chase the clock, challenging and encouraging each other all in the name of achieving goals and making gains. Our go-to model for training relies on a lighter, more breathable upper than our previous edition to complement our standards of durability and comfort, so that you can float through your cardio, power through your lifts and dominate your workouts.
                            <br><br>Available Colors: Grey/Black/Red/Frost White/Blue/Neon Green
                            <br><br>Available Sizes: EU/US/UK 
                            </h3>
                               
                            
                            <!-- SIZE AND COLOR
                            <div class="size-color">
                                <label for="size" class="size">Size:</label>
                                <select name="size" id="size" class="details-page-product-size-select">
                                    <option value="small">30</option>
                                    <option value="medium">35</option>
                                    <option value="large">40</option>
                                </select>
                
                                <label for="color" style="margin-left: 50px;">Color:</label>
                                <select name="color" id="color">
                                    <option value="red">Red</option>
                                    <option value="blue">Blue</option>
                                    <option value="green">Green</option>
                                </select>
                            </div>
                            -->

                            <!-- QUANTITY -->
                            <div class="quantity-button">
                                <button class="subtract" onclick="subtractQuantity()">-</button>
                                <input type="number" min="1" max="100" step="1" value="1" id="quantity" 
                                style="color: white; background-color: black; text-align: center; padding: 3px 5px; margin-bottom: 10px;">
                                <button class="add" onclick="addQuantity()">+</button>

                                <button class="apply" onclick="">Apply</button>

                                <button class="fa-regular fa-heart" id="fav-btn" onclick="toggleFavs()" style="padding: 15px 20px; margin-left: 180px">
                                
                                </button>

                                
                            </div>
    
                            <a href="#" class="btn btn-standard" style="font-weight: 500;">
                                <i class="fa-solid fa-cart-plus" style="color: #ffffff; margin-right: 10px; font-size: 20px;"></i>
                                Add to Cart
                            </a>

                            <div id="app">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-2">
                                      <div class="comment">
                                    <p v-for="items in item" v-text="items"></p>
                                      </div><!--End Comment-->
                                      </div><!--End col -->
                                      </div><!-- End row -->
                                  <div class="row">
                                    <div class="col-md-6">
                                         <textarea type="text" class="input" placeholder="Write a review" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                      <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                    </div><!-- End col -->
                                  </div><!--End Row -->
                                </div><!--End Container -->
                            </div><!-- end App -->

                              <div class="row" style="font-size: 20px; padding: 0;">
                                <div class="col">
                                    <i class="fa-solid fa-star" style="color: #ffa50a;"></i>
                                    <i class="fa-solid fa-star" style="color: #ffa50a;"></i>
                                    <i class="fa-solid fa-star" style="color: #ffa50a;"></i>
                                    <i class="fa-solid fa-star" style="color: #ffa50a;"></i>
                                    <i class="fa-solid fa-star" style="color: #ffa50a;"> 5.5</i>
                                </div>

                            </div>
                            
                            
                    
                            
                    </div>
            
                                
                    
                        
                

            <!-- 3 -->
            </div>

        <!-- 2 -->
		</div>

    <!-- 1 -->
    </div>




    <footer class="footer">
 
        <div class="credit">
            <div class="wrapping start">
                <div class="wrap">
                    <p>Be the first to know about our special offers, upcoming sales, special events, new arrivals, and more.</p>
                </div>
            </div>
    
            <div class="wrapping center">
                <div class="help">
                    <a href="FAQ.html">FAQ's</a>
                    <a href="privacy_policy.html">Privacy Policy</a>
                    <a href="shipping_policy.html">Shipping Policy</a>
                    <a href="refund_policy.html">Refund Policy</a>
                </div>
            </div>
    
            <div class="wrapping end">
                <div class="share">
                    <a href="https://www.facebook.com/VandKApparel" class="fa-brands fa-xl fa-facebook-f"></a>
                    <a href="https://www.twitter.com/" class="fa-brands fa-xl fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fa-brands fa-xl fa-instagram"></a>
                </div>
            </div>
        </div>
    
    </footer>
    
    <footer class="sub-footer">
        <p> Copyright &copy; 2023. On your feet, inc. all rights reserved.</p>
    </footer>
    <!-- FOOTER -->
    <script>
        function subtractQuantity() {
            var quantityInput = document.getElementById("quantity");
            var quantity = parseInt(quantityInput.value);
            if (quantity > 1) {
                quantityInput.value = quantity - 1;
            }
        }

        function addQuantity() {
            var quantityInput = document.getElementById("quantity");
            var quantity = parseInt(quantityInput.value);
            if (quantity < 100) {
                quantityInput.value = quantity + 1;
            }
        }
    </script>
    <script src="js/script.js"></script>

    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script>
        $(document).ready(function(){ 
 
            $(".primaryContained").on('click', function(){
            $(".comment").addClass("commentClicked");
            });//end click
            $("textarea").on('keyup.enter', function(){
            $(".comment").addClass("commentClicked");
            });//end keyup
            });//End Function

            new Vue({
            el: "#app",
            data:{
                title: 'Add a comment',
            newItem: '',
            item: [],
            },
            methods:{
            addItem  (){
            this.item.push(this.newItem);
                this.newItem = "";
            }
            }

            });
    </script>

</body>
</html>